@keyframes wipe-ltr {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.winui-checkbox-checkmark {
	height: 100%;
	overflow: clip;
	animation: wipe-ltr 0.25s ease-in;
}
.winui-checkbox-checkmark * {
	color: inherit;
}
