.switch {
	position: relative;
	display: inline-block;
	width: 2.5rem;
	height: 1rem;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 34px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 1.5rem;
	width: 1.5rem;
	left: -0.25rem;
	bottom: -0.25rem;
	background-color: #666;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #a16207;
}
input:checked + .slider::before {
	background-color: #eab308;
}
input:checked + .slider:before {
	-webkit-transform: translateX(1.5rem);
	-ms-transform: translateX(1.5rem);
	transform: translateX(1.5rem);
}
