@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin Sans";
  src: url("/JosefinSans.ttf");
}

body {
  background: #121212;
  color: #fff;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  user-select: none;
}
